<div id="mainHeader">
    <h1>Header</h1>
    <ul>
        <li ui-sref-active="active">
            <a ui-sref="main.home">
                <span class="glyphicon glyphicon-info-sign" popover="Home" popover-append-to-body="true" popover-placement="right" popover-trigger="mouseenter"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="main.config">
                <span class="glyphicon glyphicon-cog" popover="Preferences" popover-append-to-body="true" popover-placement="right" popover-trigger="mouseenter"></span>
            </a>
        </li>
    </ul>
</div>

<div id="mainContent" ui-view></div>

<div id="mainFooter">
    <h1>Footer</h1>
</div>
